// styles/Blog.scss
h1, h2, h3, h4, h5, p, ul, ol, li, a, a button {
    color: white !important;
}
.blog-card {
    border-radius: 25px !important;
    background: #25272D;
    width: 300px !important;
    
    img {
        border-radius: 25px 25px 0 0 !important;
    }
    p {
        padding: 10px;
    }
}