// styles/Blog.scss
.blog-card {
    border-radius: 25px !important;
    background: #25272D;
    width: 300px !important;
    
    img {
        border-radius: 25px 25px 0 0 !important;
    }
    p {
        padding: 10px;
    }
}