// styles/Categories.scss
@import "./variables.module.scss";
@import "./breakpoints.scss";

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 30px;
  margin-bottom: 60px;

  border: 1px solid black;
  border-width: 1px 0 1px 0;

  p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0!important;
    cursor: pointer;

    &:hover {
      color: $pinkred
    }
  }

  .selected {
    color: $pinkred
  }
}