/* GENERAL */
*, *::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scrollbar-width: none !important; */
}
body{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, a button {
  font-family: "hoss-round", sans-serif;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
p {
  margin: 0;
  
}

/* BACKGROUND */
/* .bg-darker {
  background-image: url('/assets/background-blog.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */


.navbar-padding-protection{
  padding: 95px 0 0 !important;
}

@media (max-width: 992px) {
  .navbar-padding-protection{
    padding: 69px 0 0 !important;
  } 
}