// styles/Login.scss
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  label {
    color: white;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 550px;

    &_form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      input {
        width: 100%;
        padding: 6px 12px;
        border-radius: 8px;
        outline: none;
        border: none;
      }

      button,
      button:hover {
        border-radius: 8px;
        background-color: white !important;
      }
    }

    &_error {
      color: red !important;
      margin: 0 0 0 10px;
    }
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: white;
    font-size: 13px;
    text-align: center;
  }
  .rs {
    width: 104px;
    height: 48px;
    border: 2px solid white;
    border-radius: 8px;
    background: transparent;
    
  }
}
