// styles/Register.scss
@import "./variables.module.scss";
@import "./breakpoints.scss";

.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;

  h1, label {
    color: white;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    gap: 15px;
    height: 550px;

    @include lg {
      width: 45%;
    }

    @include ml {
      width: 50%;
    }

    @include md {
      width: 70%;
      border-radius: 30px;
    }

    &_form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 70%;

      input {
        width: 100%;
        padding: 7px 15px;

      }

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        cursor: pointer;
        font-size: 14px;
      }

      button {
        margin-top: 15px;

        @include buttonStyle;
        width: 250px;
      }
    }

    &_error {
      color: red;
      margin: 0 0 0 10px;
    }
  }
}
