// styles/WorkDetails.scss
.work-details {
  color: white;

  p {
    padding: 0;
  }

  .btn-actions, 
  .btn-actions div, 
  .btn-actions button,
  .info > div,
  .profile,
  .profile button,
  .show-more,
  .slide,
  .prev-button,
  .next-button,
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    justify-content: space-between;

    .save {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }
    }
  }
  .slider-container {
    overflow: hidden;
    border-radius: 10px;
    margin: 40px 0;

    .prev-button {
      left: 10px;
    }

    .next-button {
      right: 10px;
    }
    
    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: auto;
        height: 270px;

        img {
          width: auto;
          height: 270px;
          border-radius: 15px;
        }

        .prev-button,
        .next-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 6px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 99;

          &:hover {
            background-color: white;
          }
        }
      }
    }
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

    img {
      cursor: pointer;
      width: 150px;
      height: auto;
      border-radius: 15px;
    }

    .selected {
      border: 3px #FF1493 solid;
    }

    .show-more {
      flex-direction: column;
      gap: 20px;
    }
  }

  .btn-actions {
    div {
      justify-content: space-between;
      gap: 20px;

      button {
        min-width: 168px;
        max-width: 168px;
        height: 38px;
        border-radius: 6px;
      }
      .btn-gradient {
        color: white;
      }
      .btn-louer {
        background: transparent;
        border: 1px solid #4C4C4C;
        color: #4C4C4C;
      }
    }
  }

  .profile {
    justify-content: space-between;
    height: 60px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 0;
    }
    p {
      color: #FF1493;
    }

    button {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }

  .info > div {
    justify-content: space-between;
  }

  .info hr {
    border: 1px solid black;
    opacity: 1;
  }
}
